@charset 'UTF-8';

/* Var */
:root {
    --pinkBg: rgb(252, 207, 231);
}

/* General */

* {
    margin: 0;
}

/* Navigation Bar */
#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 207, 231);
    height: 8em;
}

#navBar > *{
    display: flex;
    flex-direction: row;
    padding: 0 3em 0 2em;
}

#navLogo{
    width: 5em;
    height: 5em;
}

#leftNavSide{
    align-items: center;
    gap: 2em;
}

#logoTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}

#sections{
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style: none;
}



